$def with (campaign)
<h1>Campaign: $campaign.name </h1>
<p>
    Start date: $campaign.start_date<br>
</p>
<h2> Generic statistics of the crawls </h2>
<table>
    <tr> 
        <th>Platform</th>
        <th># waiting</th>
        <th># running</th>
        <th># finished</th>
    </tr>
    <tr> 
        <td>facebook</td>
        <td>$campaign.statistics.stats[0][0]</td>
        <td>$campaign.statistics.stats[0][1]</td>
        <td>$campaign.statistics.stats[0][2]</td>
    </tr>
    <tr> 
        <td>flickr</td>
        <td>$campaign.statistics.stats[1][0]</td>
        <td>$campaign.statistics.stats[1][1]</td>
        <td>$campaign.statistics.stats[1][2]</td>
    </tr>
    <tr> 
        <td>google_plus</td>
        <td>$campaign.statistics.stats[2][0]</td>
        <td>$campaign.statistics.stats[2][1]</td>
        <td>$campaign.statistics.stats[2][2]</td>
    </tr>
    <tr> 
        <td>twitter</td>
        <td>$campaign.statistics.stats[3][0]</td>
        <td>$campaign.statistics.stats[3][1]</td>
        <td>$campaign.statistics.stats[3][2]</td>
    </tr>
    <tr> 
        <td>youtube</td>
        <td>$campaign.statistics.stats[4][0]</td>
        <td>$campaign.statistics.stats[4][1]</td>
        <td>$campaign.statistics.stats[4][2]</td>
    </tr>
</table>

<h2> Details of the crawls </h2>
Beware, it can be a big page.
<br>
See the details of the different crawls 
<a href='$campaign.name/crawls/'>here</a>.

